In [9]:
import pandas as pd
from scipy.stats import t
import numpy as np
import scipy.stats as stats

nutriCSV = pd.read_csv("nutri.csv", sep=';')
nutriCSV

    processo  sexo  peso_nascenca comprimento perimetro_cef
0          1     2           2440          46            33
1          2     2           2600          45            33
2          3     1           2700          48            33
3          4     1           2750          51
4          5     2           2800                        33
5          6     2           2850          48            35
6          7     1           2900          49            37
7          8     1           2900          48            35
8          9     1           3000          50            36
9         10     2           3000          48
10        11     1           3000          49            34
11        12     2           3000          50            35
12        13     2           3000          48            33
13        14     2           3000          49            35
14        15     2           3050          49            34
15        16     2           3070          50            33
16        17     2           3100          50
17        18     1           3100          49            34
18        19     2           3150          49            35
19        20     1           3200          52            35
20        21     1           3200          49            35
21        22     2           3300          49            35
22        23     2           3300          51            35
23        24     1           3350          51            37
24        25     2           3350          49            35
25        26     1           3350          50            36
26        27     2           3350          50            34
27        28     1           3400          51            37
28        29     1           3400          49            37
29        30     2           3400          50            34
30        31     1           3400          50            35
31        32     1           3400          50            37
32        33     2           3450          50            35
33        34     2           3450          51            35
34        35     2           3450          50            35
35        36     2           3450          50            35
36        37     2           3500          47            35
37        38     2           3550          51            36
38        39     1           3650          49            36
39        40     2           3650          51            35
40        41     1           3650          49            37
41        42     1           3650          51            37
42        43     1           3700          52            35
43        44     2           3750          51            36
44        45     2           3800          51            37
45        46     1           3800          52            37
46        47     2           3850          51            35
47        48     1           3900          51            37
48        49     2           3900          51            37
49        50     2           3900          51            37
50        51     1           3950
51        52     1           4000          51            37
52        53     1           4100          51            36
53        54     1           4100          53
54        55     1           4150          54            36
55        56     2           4200          50            35
56        57     2           4250          51            35
57        58     2           4250          54            37

In [10]:

# Assumindo que a coluna de peso Ã© 'Peso'
media_peso_2011 = 3400
t_stat, p_value = stats.ttest_1samp(nutriCSV['peso_nascenca'], media_peso_2011)
print('Statistiscs ',t_stat)
print('P-Value ', p_value)

Statistiscs  0.19515278412066875
P-Value  0.8459673143133309